html {
  /**
   * Setting the font size to 10px so values in rems can be calculated easier.
   */
  font-size: 10px;
}

html, body, #root {
  height: 100%;
}

body {
  --pink: 253, 30, 143;
  --white: 255, 255, 255;
  --grey: 230, 230, 230;
  --grey-dark: 130, 130, 130;
  --blue: 48, 121, 226;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*
 * For a real app I'd avoid setting this as it is not accessible and use something like
 * https://github.com/WICG/focus-visible to hide the outline when an element is clicked and
 * show it when selected with tab.
 **/
:focus {
  outline: none;
}
